.login{
    width: 220px;
    background: #24303c;
    padding: 30px;
    margin:auto;
    margin-top:50px;
    border-radius:20px;
    font-family: 'calibri';
    color:white;
}

.login label{
    margin-top:50px;
}

.login input{
    margin-bottom: 10px;
    margin-top: 2px;
}

.Tc{
    color: aliceblue;
}

h3{
    text-align: center;
    margin-top:-10px;
}

.login button{
    margin-right:20px;
    margin-top: 10px;
}
